@model CreateTweetViewModel

<h1>Create tweet</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="flash error">
        @Html.ValidationMessageFor(m => m.Status)
    </div>
}

<p>
    @using (var frm = Html.BeginForm("index", "home"))
    {
        
        @Html.TextAreaFor(m => m.Status, new { @class = "ribbitText" })
        <input type="submit" value="Tweet"/>
        
        //@Html.AntiForgeryToken()
    }
</p>